<footer class="bg-dark text-center">
    <div class="container">
        <img src="{{ page.find('/images').media['cafecompimenta_logo_branco.png'].url }}" class="img-responsive footer-logo m-b-md">
        <p>© Café com Pimenta 2016 - piece of cloud by <a href="http://www.aerogami.com/">AEROGAMI</a></p>
    </div>
</footer>