<footer class="bg-purple text-xs-center">
    <div class="container">
        <a href="{{ base_url }}"><img src="{{ page.find('/images').media['cafecompimenta_logo_branco_reduzido.png'].url }}" class="img-responsive footer-logo m-b-sm"></a>
        <p>© Café com Pimenta<br>piece of cloud by <a href="https://www.instagram.com/person.a__/">person.a</a></p>
    </div>
</footer>
