<footer class="bg-purple text-xs-center">
    <div class="container">
        <img src="{{ page.find('/images').media['cafecompimenta_logo_branco_reduzido.png'].url }}" class="img-responsive footer-logo m-b-sm">
        <p>© Café com Pimenta 2016<br>piece of cloud by <a href="http://www.aerogami.com/">AEROGAMI</a></p>
    </div>
</footer>