
/* ==========================================================================
Custom CSS
========================================================================== */


/* ==========================================================================
Utilities
========================================================================== */

body {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', serif;
	color: #4d1f51;
}

//.vertical-align {
//	display: flex;
//	align-items: center;
//}

//.img-responsive {
//	margin: 0 auto;
//}

//.m-b-md {
//	margin-bottom: 2rem;
//}

//.m-b-lg {
//	margin-bottom: 3rem;
//}

.m-b-xl {
	margin-bottom: 4rem;
}

.m-b-0 {
	margin-bottom: 0;
}

.m-y-0 {
	margin-bottom: 0;
	margin-top: 0;
}

//.m-t-xl {
//	margin-top: 4rem;
//}

.p-y-md {
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.p-y-lg {
	padding-bottom: 3rem;
	padding-top: 3rem;
}

.p-y-xl {
	padding-bottom: 4rem;
	padding-top: 4rem;
}

.p-x-lg {
	padding-left: 3rem;
	padding-right: 3rem;
}

.p-b-xxl {
	padding-bottom: 5rem;
}

//.p-t-md {
//	padding-top: 2rem;
//}

.bg-cream{
	background-color: #F1E9DC;
}

.bg-red {
	background-color: #D0867E;
}

.bg-purple {
	background-color: #4D1F51;
}

//.display-1 {
//  font-size: 6.5rem;
//  font-weight: 600;
//}

//.display-2 {
//	margin: 0;
//  font-size: 2rem;
//  font-weight: 300;
//  letter-spacing: 2.5px;
//  line-height: 1.5;
//}

.display-2 {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.4px;
}

.display-3 {
//  color: #777;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
}

.text-red {
	color: #E25152;
}


/* ==========================================================================
Header
========================================================================== */

.header-logo {
	margin-top: -40px;
	height: 70px;
	width: 70px;
}


/* ==========================================================================
Hero
========================================================================== */

.hero {
	background: rgb(77, 31, 81) url('/ccp/user/pages/images/cafe_fogo.jpeg') no-repeat center center;
	background-size: cover;
}

.hero h1 {
	font-size: 10rem;
	font-weight: 400;
  letter-spacing: 2.5px;
}


/* ==========================================================================
Brand
========================================================================== */

.section-brand .logo {
	height: 600px;
	width: 600px;
}

.brand-intro-element {
	height: auto;
	width: 14rem;
}

.brand-intro-title {
	margin: 0 0 0.5rem;
	font-weight: 600;
}


/* ==========================================================================
Food-menu
========================================================================== */

.menu-item-icon {
	display: inline-block;
	width: 100px;
	height: auto;
//	border: solid 2px #4e9ba3;
//	border-radius: 50%;
//	vertical-align: top;
	text-align: center;
}

.menu-item-title h4 {
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: 1.5px;
	line-height: 1.5;
	margin: 0.4rem 0;
}

.menu-collapse {
  height: 100%; width: 100%;
  position: absolute;
  top: 0; left: 0;
	cursor: crosshair;

}

.menu .card {
	border-color: transparent;
}

.menu .card:hover {
  border-color: rgba(0,0,0,.125);
}



/* ==========================================================================
Clients
========================================================================== */

.client-logo {
	height: auto;
	width: 15rem;
}

.features-slider {
  padding: 8% 100px;
}


/* ==========================================================================
Footer
========================================================================== */

.footer-logo {
	height: 200px;
	width: 200px;
}

footer {
  padding: 4rem 0;
}

/* ==========================================================================
Waypoints
========================================================================== */

.delay-10s {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.delay-15s {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
