
/* ==========================================================================
Custom CSS
========================================================================== */

/* ==========================================================================
Bootstrap Overrides
========================================================================== */

body {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', serif;
	color: #4d1f51;
}

textarea.form-control.form-control-lg {
	font-size: 1rem;
}

.form-control.form-control-lg#email {
	font-size: 1.10rem;
}

a {
	color: #D0867E;
	font-weight: 400;
}

/* ==========================================================================
Utilities
========================================================================== */

.m-b-xl {
	margin-bottom: 4rem;
}

//.m-b-lg {
//	margin-bottom: 3rem;
//}

.m-b-md {
	margin-bottom: 2rem;
}

.m-b-sm {
	margin-bottom: 1rem;
}

.m-b-0 {
	margin-bottom: 0;
}

.m-y-0 {
	margin-bottom: 0;
	margin-top: 0;
}

.m-t-xxl {
	margin-top: 5rem;
}

.p-y-md {
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.p-y-lg {
	padding-bottom: 3rem;
	padding-top: 3rem;
}

.p-y-xl {
	padding-bottom: 4rem;
	padding-top: 4rem;
}

.p-x-lg {
	padding-left: 3rem;
	padding-right: 3rem;
}

.p-b-lg {
	padding-bottom: 4rem;
}

.p-b-xxl {
	padding-bottom: 5rem;
}

.p-t-md {
	padding-top: 2rem;
}

.p-t-lg {
	padding-top: 3rem;
}

.bg-cream{
	background-color: #F1E9DC;
}

.bg-red {
	background-color: #D0867E;
}

.bg-purple {
	background-color: #4D1F51;
}

.display-1 {
	font-size: 5rem;
	font-weight: 700;
  letter-spacing: 2.5px;
}

.display-2 {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.4px;
}

.display-3 {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
}

.text-red {
	color: #E25152;
}


/* ==========================================================================
Buttons
========================================================================== */

.btn-outline-primary {
	border-color: #D0867E;
	color: #D0867E;
}

.btn-outline-primary:hover,
.btn-outline-primary.focus, .btn-outline-primary:focus,
.btn-outline-primary.active, .btn-outline-primary:active,
.open>.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #D0867E;
	border-color: #D0867E
}

.btn-outline-primary.active.focus, .btn-outline-primary.active:focus,
.btn-outline-primary.active:hover,
.btn-outline-primary:active.focus, .btn-outline-primary:active:focus,
.btn-outline-primary:active:hover,
.open>.btn-outline-primary.dropdown-toggle.focus, .open>.btn-outline-primary.dropdown-toggle:focus,
.open>.btn-outline-primary.dropdown-toggle:hover {
  color: #fff;
  background-color: #AA6B66;
  border-color: #663D3D;
}

.btn-outline-primary.disabled.focus, .btn-outline-primary.disabled:focus, .btn-outline-primary:disabled.focus, .btn-outline-primary:disabled:focus {
  border-color: #DDA29E;
}

.btn-outline-primary.disabled:hover, .btn-outline-primary:disabled:hover {
	border-color: #DDA29E;
}


/* ==========================================================================
Header
========================================================================== */

.overlay {
  background: rgba(241, 233, 220, 0.95);
}

.header-logo {
	height: 200px;
	width: 200px;
}

.nav-toggle {
  position: absolute;
  top: 5.5rem;
  right: 5.5rem;
  z-index: 999999;
  cursor: pointer;
}

/* Menu style */
.overlay ul li a {
  border: 2px solid #4D1F51;
  background-color: transparent;
  color: #4D1F51;
  font-weight: 500;
}

.overlay ul li a:hover, .overlay ul li a:focus {
  border-color: #4D1F51;
  color: #4D1F51;
}


/* ==========================================================================
Hero
========================================================================== */

.jumbotron {
	background: rgb(77, 31, 81) url('/ccp/user/pages/images/pausar.jpg') no-repeat center center;
	background-size: cover;
	height: 48rem;
	margin-bottom: 0;
	padding: 0;
	position: relative;
}

//.jumbotron .container-fluid, .jumbotron .row {
//	height: 100%;
//	min-height: 100%;
//}

.texture-overlay {
	background-color: rgba(0,0,0,.2)
}


/* ==========================================================================
Brand
========================================================================== */

.section-brand .logo {
	height: 600px;
	width: 600px;
}

.brand-intro-element {
	height: auto;
	width: 14rem;
}

.brand-intro-title {
	margin: 0 0 0.5rem;
	font-weight: 600;
}


/* ==========================================================================
Food-menu
========================================================================== */

.menu-item-icon {
	display: inline-block;
	width: 80px;
	height: auto;
//	border: solid 2px #4e9ba3;
//	border-radius: 50%;
//	vertical-align: top;
	text-align: center;
}

.menu-item-title h4 {
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: 1.5px;
	line-height: 1.5;
	margin: 0.4rem 0;
}

.menu-collapse {
  height: 100%; width: 100%;
  position: absolute;
  top: 0; left: 0;
	cursor: crosshair;

}

.menu .card {
	border-color: transparent;
}

.menu .card:hover {
  border-color: rgba(0,0,0,.125);
}



/* ==========================================================================
Clients
========================================================================== */

.client-logo {
	height: auto;
	width: 15rem;
}

/* ==========================================================================
Testimonials
========================================================================== */

.testimonials ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.testimonials ul li {
	width: 100%;
}

.testimonials .quote {
	color: #4d1f51;
}

.testimonials blockquote p.quote:before {
  content: "\201c";
}

.testimonials blockquote p.quote:after {
  content: "\201d";
  }

.testimonials .flickity-page-dots {
	position: static;
	margin-top: 1rem;
}

/* ==========================================================================
Footer
========================================================================== */

.footer-logo {
	height: 180px;
	width: 180px;
}

footer {
  padding: 4rem 0;
}

/* ==========================================================================
Waypoints
========================================================================== */

.delay-10s {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.delay-15s {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
