<header>
  <section class="jumbotron jumbotron-fluid">
    <div class="texture-overlay"></div>
    <div class="container-fluid">
      <div class="row nav-wrapper">
        <div class="col-md-6 col-sm-6 col-xs-6 text-left">
          <a href="#"><img src="{{ page.find('/images').media['cafecompimenta_logo_branco.png'].url }}" alt="Café com Pimenta" class="header-logo"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
          <a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
        </div>
      </div>
      <div class="row m-t-xxl">
        <div class="col-xs-12 text-xs-center">
          <h1 class="display-1 text-white wp0">{{ site.header.title }}</h1>
          {# <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> #}
        </div>
      </div>
    </div>
  </section>  
</header>
