<header>
  <section class="jumbotron jumbotron-fluid">
    <div class="texture-overlay"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 text-left">
          <a href="{{ base_url }}"><img src="{{ page.find('/images').media['cafecompimenta_logo_branco_reduzido.png'].url }}" alt="Café com Pimenta" class="header-logo"></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
          <a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs text-xs-center">
          <h1 class="display-1 text-white wp0">{{ site.header.title }}</h1>
        </div>
      </div>
    </div>
  </section>  
</header>
