<nav class="navbar navbar-fixed-top" data-toggle="sticky-onscroll">
    <a class="navbar-brand" href="{{ base_url }}">
        <img src="{{ page.find('/images').media['cafecompimenta_logo_branco.png'].url }}" alt="Café com Pimenta" class="header-logo">
    </a>
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item navicon">
            <a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
        </li>
    </ul>
</nav>
