<section id="{{ page.menu }}"  class="clients text-xs-center p-b-xxl">
    <div class="container-fluid">
        <div class="row">
            {% for item in page.header.clients %}
                <div class="col-md-2">
                    <img src="{{ page.media[item.logo].url }}" class="img-fluid client-logo">
                </div>
            {% endfor %}
        </div>
    </div>
</section>
