<section id="{{ page.menu }}" class="section-form text-xs-center bg-faded">
  <div class="container">
  	<div class="row">
	    <div class="col-md-8 offset-md-2 col-xl-6 offset-xl-3 wp6 m-b-md">
        	{% include "forms/form.html.twig" %}
        </div>
    </div>
		<p class="lead text-muted">{{ page.header.hint }}</p>
  </div>
  <div class="m-t-xxl">
  {{ page.content }}
</section>
