<section id="{{ page.menu }}" class="section-brand bg-cream text-xs-center p-y-lg">
  <div class="container">
  		<div class="row flex-items-xs-center">
  				<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
				    <img src="{{ page.media.images|first.url }}" alt="Logo Café com Pimenta" class="logo img-fluid wp6">
				  </div>
  		</div>
  </div>
</section>
