<section class="section-brand bg-faded text-center p-y-lg">
  <div class="container">
    <img src="{{ page.media.images|first.url }}" alt="Logo Café com Pimenta" class="logo img-responsive">
  </div>
</section>
