<section id="{{ page.menu }}" class="section-brand bg-cream text-xs-center p-y-lg">
  <div class="container">
    <img src="{{ page.media.images|first.url }}" alt="Logo Café com Pimenta" class="logo img-responsive">
  </div>
</section>
