<section class="section-brand-intro p-y-xl">
  {# <div class="texture-overlay"></div> #}
  <div class="container">
    {% for element in page.header.elements %}
      <div class="row vertical-align">
        <div class="col-md-4 col-md-offset-1">
          <div class="{{ element.animation }}">
            <img src="{{ page.media[element.image].url }}" class="img-responsive">
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <h2 class="display-3">{{ element.title }}</h2>
          <p class="display-4">{{ element.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>