<section id="{{ page.menu }}" class="section-text text-xs-center p-y-xl {{ page.header.section_class }}">
    <div class="container">
			<h2 class="display-2 {{ page.header.text_class }}">{{ page.header.text }}</h2>
    </div>
</section>
